streamlit>=1.34,<2
pandas>=2.2
numpy>=1.26
extra-streamlit-components>=0.1.70
bcrypt==4.1.3
openpyxl
xlsxwriter
gspread>=6.1
google-auth>=2.23
SQLAlchemy
psycopg2-binary==2.9.9
sqlalchemy>=2.0,<3